/* Start Variables */
:root{
    --primary-color: #ffbc20;
    --hover-color: #f2c335;
    --gray-color: #F2F2F2;
    --p-tag-color: #777;
    --dark-color: #2d2b2c;
    --header-height: 73.56px;
    --trans-duration: 0.4s;
    --section-padding: 30px;
}
/* End Variables */
/* Global Rules */
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--gray-color);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}
::selection{
    background-color: var(--primary-color);
    color: white;
}
/* .signup-body{
    background-color: white;
} */
ul{
    list-style: none;
}
a {
    text-decoration: none;
}
/* End Media Queries */
/* End Variables */

/* Start Footer */
.footer-holder{
    width: 100%;
    background-color: white;
    margin-bottom: -30px;
}
.footer{
    width: 50%;
    margin-top: 100px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
@media (max-width: 767px) {
    .footer{
        width: 80%;
    }
}
.footer .maeg{
    padding: 20px 0;
}
.footer .maeg img{
    width: 100px;
    margin-bottom: 15px;
}
.footer-hr{
    width: 40%;
    margin-bottom: 0;
    border: 1px solid var(--primary-color);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.footer .maeg .first-child{
    font-size: 13px;
    color: #777;
}
.footer .maeg .second-child{
    font-size: 13px;
    color: #777;
    margin-top: -25px;
}
.footer .maeg .last-child{
    font-size: 20px;
    color: var(--dark-color);
    font-weight: 700;
    text-transform: uppercase;
}
.footer .social{
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: -10px;
}
.footer .social a .fa-facebook, .footer .social a .fa-youtube, .footer .social a .fa-instagram{
    font-size: 22px;
    color: var(--primary-color);
}
.copy{
    background-color: #777;
    padding: 15px 0;
    text-align: center;
}
.copy p{
    margin-bottom: 0;
    text-transform: capitalize;
    color: white;
}
.copy span{
    color: var(--primary-color);
}
/* End Footer */